.bonuses-wrapper {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.bonuses-header {
  text-align: center;
  margin-bottom: 20px;
}

.bonuses-header h2 {
  color: #d32f2f; /* Red color to highlight the urgency */
  font-weight: bold;
  margin: 0;
}

.bonuses-header h3 {
  color: #1a237e; /* Dark blue for the bonus worth */
  margin: 0;
  font-weight: normal;
}

.bonuses-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bonus-card {
  background-color: white;
  border-radius: 10px;
  /* padding: 20px; */
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.bonus-header {
  background-color: black;
  color: yellow;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.bonus-body {
  text-align: center;
  padding: 20px;
}

.bonus-icon {
  width: 50px;
  margin-bottom: 10px;
}

.bonus-value {
  font-weight: bold;
  color: #1a237e;
  margin-top: 10px;
  border: 1px solid #1a237e;
  padding: 10px;
  border-radius: 5px;
}

/* Responsive for Mobile Devices */
@media (max-width: 768px) {
  .bonuses-container {
    flex-direction: column;
    align-items: center;
  }

  .bonus-card {
    width: 90%;
  }
}
