.course-ad-container {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #16273a;
  text-align: center;
  padding: 20px;
}

.headerr {
  margin-bottom: 20px;
}

.highlightw {
  color: #fffa65;
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
}

.course-imagee {
  max-width: 100%;
}

.video-preview {
  width: 100%;
  max-width: 600px;

  margin-top: 10px;
}

.instructor-info {
  margin-top: 15px;
  text-align: center;
}

.instructor-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.pricing-section {
  margin: 20px 0;
}

.pricing-button {
  background-color: #ff8c00;
  border: none;
  padding: 15px 25px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.features-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.features-section ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Gap between the columns */
}

.features-section li {
  text-align: left;
  margin-bottom: 10px;
  color: #fffa65;
  font-size: 25px;
  list-style: none;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 767px) {
  .features-section {
    padding: 0;
  }

  .features-section ul {
    grid-template-columns: 1fr; /* Stacks list items in a single column on smaller screens */
  }

  .features-section li {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
  }

  .headerr h1 {
    font-size: 1.5rem;
  }
}
