.container {
  text-align: center;
  padding: 20px 100px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #28a745;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
}

.learn-heading {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.learn-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: transparent;
  background-image: linear-gradient(210deg, #f0f0f0 0%, #ffffff 100%);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 45%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
}

.card img {
  margin-right: 15px;
}

.card p {
  font-size: 15px;
  color: #333;
  text-align: left;
  font-weight: 500;
  line-height: 20px;
}

.card p span {
  font-size: 20px;
  color: #333;
  text-align: left;
  font-weight: 600;
}

.footer-heading {
  font-size: 18px;
  color: #333;
  margin: 30px 0 20px 0;
}

.price-button {
  background-color: #ff8c00;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .cta-button,
  .price-button {
    width: 100%;
    padding: 12px 0;
  }

  .learn-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin: 10px 0;
  }

  .container {
    padding: 10px 20px;
  }

  .card p {
    font-size: 13px;
  }

  .card p span {
    font-size: 15px;
  }
}
